body {
    background-color:rgb(255 255 255);
    font-family: 'Montserrat', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  
  .main-title {
    font-size: 200%;
    font-weight: bold;
    color: rgb(49, 4, 4);;
    width: auto;
    text-align: center;
    padding: 40px 0px;
  }
  
  .small-logo {
    float: left;
    margin-top: -27px;
    margin-left: 15px;
    padding: 0px;
  }
  
  .top-header {
    background-color: rgb(64 44 5 / 77%);
    background-image:url(https://cdn.pixabay.com/photo/2018/12/13/09/02/interior-3872455_960_720.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: 0 -120px;
    background-repeat: no-repeat;
  }
  
  .heder{    font-size: 50px;
    text-align: center;
    font-family: Franklin Gothic Medium;
    padding-top: 15px;
    color: #493023;
    font-weight: bolder;
  margin-bottom: -15px;}
  .sc-heading {
    margin-top: 23px;
    display: inline-block;
    margin-bottom: -40px;
    width: 100%;
  }
  .sppb-text-center {
    text-align: center;
  }
  
  .sc-heading .heading__primary {
    font-weight: normal;
    color: #2a2a2a;
    margin-top: 0;
    padding: 0 15px;
    margin-bottom: 0;
    line-height: 100%;
    text-transform: uppercase;
  }
  .sc-heading .separator {
    display: inline-block;
    position: relative;
    margin: 20px 0;
  }
  
  .fish-title {
    font-size: 260%;
    font-weight: bold;
    margin-bottom: 15px;
    color: aliceblue;
    text-shadow: 1px 1px rgb(49, 46, 46);
  }
  
  .link {
    font-weight: bold;
    display: block;
    font-size: 25px;
    padding-top: 35px;
    color: rgb(121 56 31);
  }
  
  
  
  
  
  .top-coustomer {
    background-color: rgb(191 133 19 / 77%);
    background-image: url(https://cdn.hipwallpaper.com/i/2/49/amr5Q9.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 420px;
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    position: relative;
  }
  
  
  .product-container {
    width: 960px;
    margin: auto;
  }
  
  .product-container img {
    /* float: right; */
    max-width: 150px;
    padding: 35px
  }
  
  .main-page-content2 h1 {
    color: rgb(129, 39, 39);
    font-size:35px;
  }
  
  .main-page-content3 h1 {
    color: rgb(41, 37, 37);
    font-size: 25px;
  }
  
  
  .center-logo {
    text-align: center;
    padding-top: 90px;
    opacity: 0;
    animation-name: title-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes title-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {padding-top: 60px;}
    100% {padding-top: 100px;}
  }


  .hed-time{
    font-size: 20px;
    padding: 20px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    margin: 0px;
    border: 10px solid rgb(19 112 191 / 77%);
    background-color: #493023;
  }
  
  .location-form {
    padding: 20px;
  }
  
  th, .column1 {
    padding: 21px;
    border: 1px solid rgb(54, 51, 51);
    background-color: rgb(127 162 193);
    text-align: center;
    font-weight: 700;
  }
  
  tr, td {
    padding: 20px;
    background-color: aliceblue;
    border: 1px dotted rgb(54, 51, 51);
  }
  
  th:hover, tr:hover {
    background-color: rgb(255, 234, 166);
  }
  
  .footer {
    width: 100%;
    height: 100px;
    background-color: rgb(255 255 255);
    text-align: center;
    color: rgb(129 39 39);
    clear: both;
  }
  
  footer {
   padding-top: 26px;
    font-size: 110%;
    clear: both;
    color: bisque;
    text-align: center;
    height: 101px;
    background-color: #0c0b09;
}


  
  
  
  
  .aboutus{
    font-size: 22px;
      font-family: cursive;
      padding-bottom: 75px;
      color: #161903;
      text-align: center;
  }
  
  
  .wave {
    height: 50px;
    position: relative;
  }
  
  .wave::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #2e281b 12px 13px);
  }
  
  .wave::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #0c0b09  12px, transparent 13px);
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 20%;
    background-color: #faebd7a6;
    display: flex;
      flex-wrap: wrap;
      list-style: none;
      display: block;
      
    margin-left: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .titel{
    font-size: 24px;
      font-family: monospace;
      color: aliceblue;
      text-align: center;
      margin: 8px;
  }

  #sp-page-builder * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sppb-carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;}
    
    div.gallery {
      
      border: 1px solid #ccc;
      float: left;
      width: 320px;
     margin-left: 10px;
     margin-bottom: 5px;
      
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    .galleryhead{
      font-family: cursive;
    text-align: center;
    font-size: 42px;
    color: rgb(129 39 39);
    }

    .colo{
    
      display: inline;
      width: Calc(100%/2);
      padding: auto;
    }

    .three-col {
      clear: both;
      overflow: auto;
      width: 100%;
  }
  
  .three-col article {
      width: calc(100% /5);
      float: left;
      padding-top: 30px;
      
  }
  
  .i3imgs {
      width: 300px;
      height: 250px;
      padding-right: 5px;
  }
  .i3imgs-last {
  
      width: 300px;
      height: 250px;
      
  }

  hr{
    margin-top: 40px;
  }